.DS_Store

# Ignore merged / intermediate files & generated data
angler/*
!angler/config.json
!angler/overlays-*

bullhead/*
!bullhead/config.json
!bullhead/overlays-*

flounder/*
!flounder/config.json
!flounder/overlays-*

sailfish/*
!sailfish/config.json
!sailfish/overlays-*

marlin/*
!marlin/config.json
!marlin/overlays-*

# Due to large files they're downloaded at manual step
# and not part of git files
hostTools/Linux/api*
hostTools/Darwin/api*

# Old hostTools dir structure - keep them excluded for now until
# new layout is finalized
hostTools/Linux/*.zip
hostTools/Linux/bin/oatdump
hostTools/Linux/lib*
hostTools/Darwin/*.zip
hostTools/Darwin/bin/oatdump
hostTools/Darwin/lib*
