.DS_Store

angler/*
!angler/config.json
!angler/overlays-*

bullhead/*
!bullhead/config.json
!bullhead/overlays-*

flounder/*
!flounder/config.json
!flounder/overlays-*

sailfish/*
!sailfish/config.json
!sailfish/overlays-*

marlin/*
!marlin/config.json
!marlin/overlays-*

walleye/*
!walleye/config.json
!walleye/overlays-*

taimen/*
!taimen/config.json
!taimen/overlays-*

blueline/*
!blueline/config.json
!blueline/overlays-*

crosshatch/*
!crosshatch/config.json
!crosshatch/overlays-*

sargo/*
!sargo/config.json
!sargo/overlays-*

# oatdump host tools are downloaded on first run and are not part of the repo
hostTools/Linux/api*
hostTools/Darwin/api*
