.DS_Store

# Ignore merged / intermediate files & generated data
angler/*
!angler/system-proprietary-blobs-api*
!angler/shared-proprietary-blobs-api*
!angler/vendor-config-api*

bullhead/*
!bullhead/system-proprietary-blobs-api*
!bullhead/shared-proprietary-blobs-api*
!bullhead/vendor-config-api*

flounder/*
!flounder/system-proprietary-blobs-api*
!flounder/shared-proprietary-blobs-api*
!flounder/vendor-config-api*

# Due to large files they're downloaded at manual step
# and not part of git files
hostTools/Linux/*.zip
hostTools/Linux/bin/oatdump
hostTools/Linux/lib64
hostTools/Darwin/*.zip
hostTools/Darwin/bin/oatdump
hostTools/Darwin/lib64
